.page.theme_dark {
  --accent-color: #FF0070;
  --accent-color-transparent: rgba(255, 0, 112, 0.5);
  --accent-background: #FF0070;
  --accent-text: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-shadow: 4px 4px 0 var(--accent-background);
  --rec-icon-display: flex;
  --rec-icon-after-display: block;
}