.page.theme_light {
  --accent-color: #353430;
  --accent-background: #FF8DCB;
  --accent-text: #353430;
  --background-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow: 4px 4px 0 var(--accent-background);
  --rec-icon-display: none;
  --rec-icon-after-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --accent-background: #FF8DCB;
    --accent-text: #353430;
    --background-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow: 4px 4px 0 var(--accent-background);
    --rec-icon-display: none;
    --rec-icon-after-display: none;
  }
}