:root {
  --accent-color: #FF0070;
  --accent-background: #FF0070;
  --accent-text: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --title-shadow: 4px 4px 0 var(--accent-color);
  --rec-icon-display: flex;
  --rec-icon-after-display: block;
}